.about{
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.cont{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    border: 5px solid rgb(97, 94, 94);
    border-radius: 50px;
    opacity: 85%;
}
h2{
    padding-top: 5vh;
    padding-bottom: 3vh;
    font-family:sans-serif;
    padding-left: 3vw;
}
.para{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 2vh;
    line-height: normal;
    line-height: 1.5;
    padding-left: 3vw;
    padding-right: 3vw;
}
#name{
    padding-bottom: 10vh;
    padding-left: 3vw;
}